.threads-container {
  width: 560px;
  margin-left: 228px;

}
#card_img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 2px;
}
#title-container{
  display: flex;
  gap: 0.5rem;
}

.card-date{
  font-size: 12px;
}

