aside {
  width: 380px;
  height: 100vh;
  background-color: #fff;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-width: 0.2px;
  border-color: #d9d9d9;
  position: fixed;
  z-index: 5;
}

.search-bar {
  width: 100%; /* Make the search bar take up the full width */
}

.trending {
  width: 100%; /* Make the trending container take up the full width */
  max-width: 360px; /* Set a maximum width for larger screens */
  height: 350px;
  background-color: transparent;
  border-radius: 20px;
  border: #d9d9d9 solid 0.2px;
}

.topics-list {
  list-style: none;
  position: absolute;
  margin-top: 4rem;
  margin-left: -11.8px;
  display: flex;
  flex-direction: column;
}

.suggest {
  width: 100%; /* Make the suggest container take up the full width */
  max-width: 360px; /* Set a maximum width for larger screens */
  height: 250px;
  background-color: #f9f6ee;
  border-radius: 20px;
  margin-top: 16px;
}

.right-bar-title {
  font-size: 1.5em;
  margin-top: 1rem;
  position: absolute;
}

.search-result {
  width: 100%; /* Make the search result take up the full width */
  max-width: 350px; /* Set a maximum width for larger screens */
  background-color: #f9f6ee;
  height: 200px;
  border-radius: 20px;
  margin-top: -15px;
}

.topic {
  height: 80px;
  display: flex;
  text-decoration: none;
  color: black;
  align-items: center;
}

.topic:hover {
  background-color: #fff;
}

.people {
  height: 50px;
  width: 100%; /* Make the people container take up the full width */
  max-width: 360px; /* Set a maximum width for larger screens */
  display: flex;
  align-items: center;
}

#people-text {
  margin-left: 20px;
}

.topic h4 {
  margin-left: 20px;
}

.topic:hover {
  background-color: #fff;
}

.people:hover {
  background-color: #fff;
}

#people-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 20px;
}

#people-btn {
  position: absolute;
}

.people-container {
  display: flex;
  align-items: center;
  width: 100%; /* Make the people container take up the full width */
  max-width: 360px; /* Set a maximum width for larger screens */
}

.people-btn-container {
  display: flex;
  align-items: center;
  width: 100%; /* Make the button container take up the full width */
  max-width: 250px; /* Set a maximum width for larger screens */
}
